In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load CSV Files

In [3]:
dataset1 = pd.read_csv("dataset/Challenger_Ranked_Games.csv")
dataset2 = pd.read_csv("dataset/GrandMaster_Ranked_Games.csv")
dataset3 = pd.read_csv("dataset/Master_Ranked_Games.csv")

In [4]:
# Combine CSV Files

In [5]:
mergeddataset = pd.concat([dataset1,dataset2,dataset3])
mergeddataset.reset_index(drop=True)

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199920,4216107910,2479,1,1,0,0,0,0,3,1,...,41,149798,72167,789,86,17.2,258,6,34890,62124
199921,4031558534,932,0,0,0,0,0,0,0,0,...,26,37534,32931,364,51,10.2,110,5,11983,31400
199922,3882136458,2081,0,1,1,0,0,0,1,0,...,68,97369,71576,797,85,17.0,222,8,33499,79612
199923,4137464714,1619,0,0,0,0,0,0,1,0,...,68,116262,59001,524,72,14.4,162,11,52292,60903
199924,4195660684,1129,1,0,1,0,0,1,1,0,...,4,33263,26963,423,47,9.4,71,1,12749,8035

In [6]:
We will Delete games which is less than 1200 seconds.

SyntaxError: invalid syntax (<ipython-input-6-bdb1eaa6abee>, line 1)

In [ ]:
mergeddataset = mergeddataset[~(mergeddataset["gameDuraton"] <1200)]