In [7]:
import pandas as pd
import numpy as np

# Load CSV Files

In [8]:
dataset1 = pd.read_csv("dataset/Challenger_Ranked_Games.csv")
dataset2 = pd.read_csv("dataset/GrandMaster_Ranked_Games.csv")
dataset3 = pd.read_csv("dataset/Master_Ranked_Games.csv")

# Combine CSV Files

In [9]:
mergeddataset = pd.concat([dataset1,dataset2,dataset3])
mergeddataset.reset_index(drop=True)

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199920,4216107910,2479,1,1,0,0,0,0,3,1,...,41,149798,72167,789,86,17.2,258,6,34890,62124
199921,4031558534,932,0,0,0,0,0,0,0,0,...,26,37534,32931,364,51,10.2,110,5,11983,31400
199922,3882136458,2081,0,1,1,0,0,0,1,0,...,68,97369,71576,797,85,17.0,222,8,33499,79612
199923,4137464714,1619,0,0,0,0,0,0,1,0,...,68,116262,59001,524,72,14.4,162,11,52292,60903
199924,4195660684,1129,1,0,1,0,0,1,1,0,...,4,33263,26963,423,47,9.4,71,1,12749,8035

We will Delete games which is less than 1200 seconds.

In [10]:
mergeddataset = mergeddataset[~(mergeddataset["gameDuraton"] <1200)]

we will apply reduntant features technic for 8 columns they will convert to binary presentiotan in 6 column
B = 0, R = 1
- (blueWins, redWins) ->winner
- (blueFirstBlood, redFirstBlood) -> firstBlood
- (blueFirstInhibitor, redFirstInhibitor) -> firstInhibtor 
- (blueFirstBaron, redFirstBaron) -> firstBaron
- (blueFirstDragon, redFirstDragon) -> firstDragon
- (blueFirstTower, redFirstTower) -> firstTower
- (redTotalLevel, redAvgLevel) -> redAvgLevel
- (blueTotalLevel,  blueAvgLevel) -> blueAvgLevel

In [11]:
for x in ['redWins', 'redFirstBlood', 'redFirstInhibitor', 'redFirstBaron', 'redFirstDragon', 'redFirstTower', 'gameId', 'redAvgLevel', 'blueAvgLevel']:
    del mergeddataset[x]

In [12]:
mergeddataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139933 entries, 0 to 107123
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameDuraton              139933 non-null  int64
 1   blueWins                 139933 non-null  int64
 2   blueFirstBlood           139933 non-null  int64
 3   blueFirstTower           139933 non-null  int64
 4   blueFirstBaron           139933 non-null  int64
 5   blueFirstDragon          139933 non-null  int64
 6   blueFirstInhibitor       139933 non-null  int64
 7   blueDragonKills          139933 non-null  int64
 8   blueBaronKills           139933 non-null  int64
 9   blueTowerKills           139933 non-null  int64
 10  blueInhibitorKills       139933 non-null  int64
 11  blueWardPlaced           139933 non-null  int64
 12  blueWardkills            139933 non-null  int64
 13  blueKills                139933 non-null  int64
 14  blueDeath                139933 non-null  int64
 15  blueAssist               139933 non-null  int64
 16  blueChampionDamageDealt  139933 non-null  int64
 17  blueTotalGold            139933 non-null  int64
 18  blueTotalMinionKills     139933 non-null  int64
 19  blueTotalLevel           139933 non-null  int64
 20  blueJungleMinionKills    139933 non-null  int64
 21  blueKillingSpree         139933 non-null  int64
 22  blueTotalHeal            139933 non-null  int64
 23  blueObjectDamageDealt    139933 non-null  int64
 24  redDragonKills           139933 non-null  int64
 25  redBaronKills            139933 non-null  int64
 26  redTowerKills            139933 non-null  int64
 27  redInhibitorKills        139933 non-null  int64
 28  redWardPlaced            139933 non-null  int64
 29  redWardkills             139933 non-null  int64
 30  redKills                 139933 non-null  int64
 31  redDeath                 139933 non-null  int64
 32  redAssist                139933 non-null  int64
 33  redChampionDamageDealt   139933 non-null  int64
 34  redTotalGold             139933 non-null  int64
 35  redTotalMinionKills      139933 non-null  int64
 36  redTotalLevel            139933 non-null  int64
 37  redJungleMinionKills     139933 non-null  int64
 38  redKillingSpree          139933 non-null  int64
 39  redTotalHeal             139933 non-null  int64
 40  redObjectDamageDealt     139933 non-null  int64
dtypes: int64(41)
memory usage: 48.9 MB

In [30]:
Y = mergeddataset["blueWins"].values
del mergeddataset["blueWins"]
X = mergeddataset.values

In [31]:
X_columns = mergeddataset.columns

We will normalize data

In [32]:
from sklearn import preprocessing
X = mergeddataset.values
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)