In [66]:
import pandas as pd
import numpy as np

# Load CSV Files

In [67]:
dataset1 = pd.read_csv("dataset/Challenger_Ranked_Games.csv")
dataset2 = pd.read_csv("dataset/GrandMaster_Ranked_Games.csv")
dataset3 = pd.read_csv("dataset/Master_Ranked_Games.csv")

# Combine CSV Files

In [68]:
#dataset = dataset1.append(dataset2)
#dataset = dataset.append(dataset3)

In [69]:
#dataset.reset_index(drop=True)

In [70]:
mergeddataset = pd.concat([dataset1,dataset2,dataset3])
#mergeddataset = pd.concat([dataset2,dataset3])

In [71]:
mergeddataset.reset_index(drop=True)

,gameId,gameDuraton,blueWins,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,4247263043,1323,0,1,0,0,0,0,0,0,...,68,73016,49832,533,64,12.8,138,8,38711,60463
1,4247155821,1317,1,0,0,0,1,0,2,0,...,8,44218,37136,571,59,11.8,134,3,24829,14105
2,4243963257,932,0,0,0,0,0,0,0,0,...,20,30797,35364,400,50,10.0,89,5,12589,45201
3,4241678498,2098,0,0,0,1,1,0,1,1,...,72,125866,70528,832,84,16.8,205,9,65312,88202
4,4241538868,2344,1,1,1,1,1,1,2,2,...,83,131536,74596,794,85,17.0,227,7,86431,64141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199920,4216107910,2479,1,1,0,0,0,0,3,1,...,41,149798,72167,789,86,17.2,258,6,34890,62124
199921,4031558534,932,0,0,0,0,0,0,0,0,...,26,37534,32931,364,51,10.2,110,5,11983,31400
199922,3882136458,2081,0,1,1,0,0,0,1,0,...,68,97369,71576,797,85,17.0,222,8,33499,79612
199923,4137464714,1619,0,0,0,0,0,0,1,0,...,68,116262,59001,524,72,14.4,162,11,52292,60903
199924,4195660684,1129,1,0,1,0,0,1,1,0,...,4,33263,26963,423,47,9.4,71,1,12749,8035

We will Delete games which is less than 300 seconds.

In [29]:
mergeddataset = mergeddataset[~(mergeddataset["gameDuraton"] <300)]

In [30]:
mergeddataset["blueTotalLevel"]

0         56
1         63
2         42
3         80
4         83
          ..
107120    89
107121    45
107122    78
107123    60
107124    57
Name: blueTotalLevel, Length: 197607, dtype: int64

gameId Deleted

In [31]:
del mergeddataset['gameId']

In [32]:
mergeddataset.columns

Index(['gameDuraton', 'blueWins', 'blueFirstBlood', 'blueFirstTower',
       'blueFirstBaron', 'blueFirstDragon', 'blueFirstInhibitor',
       'blueDragonKills', 'blueBaronKills', 'blueTowerKills',
       'blueInhibitorKills', 'blueWardPlaced', 'blueWardkills', 'blueKills',
       'blueDeath', 'blueAssist', 'blueChampionDamageDealt', 'blueTotalGold',
       'blueTotalMinionKills', 'blueTotalLevel', 'blueAvgLevel',
       'blueJungleMinionKills', 'blueKillingSpree', 'blueTotalHeal',
       'blueObjectDamageDealt', 'redWins', 'redFirstBlood', 'redFirstTower',
       'redFirstBaron', 'redFirstDragon', 'redFirstInhibitor',
       'redDragonKills', 'redBaronKills', 'redTowerKills', 'redInhibitorKills',
       'redWardPlaced', 'redWardkills', 'redKills', 'redDeath', 'redAssist',
       'redChampionDamageDealt', 'redTotalGold', 'redTotalMinionKills',
       'redTotalLevel', 'redAvgLevel', 'redJungleMinionKills',
       'redKillingSpree', 'redTotalHeal', 'redObjectDamageDealt'],
      dtype='object')

we will apply reduntant features technic for 12 columns they will convert to binary presentiotan in 6 column
B = 0, R = 1
- (blueWins, redWins) ->winner
- (blueFirstBlood, redFirstBlood) -> firstBlood
- (blueFirstInhibitor, redFirstInhibitor) -> firstInhibtor 
- (blueFirstBaron, redFirstBaron) -> firstBaron
- (blueFirstDragon, redFirstDragon) -> firstDragon
- (blueFirstTower, redFirstTower) -> firstTower
- (blueKills, redDeath) -> blueScore
- (redKills, blueDeath) -> redScore
- (redTotalLevel, redAvgLevel) -> redAvgLevel
- (blueTotalLevel,  blueAvgLevel) -> blueAvgLevel

In [33]:
for x in ['redWins', 'redFirstBlood', 'redFirstInhibitor', 'redFirstBaron', 'redFirstDragon', 'redFirstTower', 'redDeath', 'blueDeath']:
    del mergeddataset[x]


we will apply Feature construction technic for these columns
- (blueAvgLevel, redAvgLevel) ->  blueAvgLevel - redAvgLevel = diffAvgLevel
- (blueScore, redScore) -> blueAvgLevel - redAvgLevel = diffScore
- (blueTotalGold, redTotalGold) -> blueTotalGold - redTotalGold = diffGold
- (blueChampionDamageDealt, redChampionDamageDealt) -> blueChampionDamageDealt - redChampionDamageDealt = diffChampDamageDealt
- (blueWardPlaced - redWardPlaced) = diffWardPlaced ?
- (blueWardKills - redWardkills) = ?

X_scaled

In [95]:
del mergeddataset["redWins"]

In [96]:
Y = mergeddataset["blueWins"].values
del mergeddataset["blueWins"]

KeyError: 'blueWins'

In [36]:
X = mergeddataset.values

noramlize data

In [97]:
from sklearn import preprocessing

X = mergeddataset.values
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)

In [100]:
pd.DataFrame(X_scaled, columns=mergeddataset.columns)

,gameId,gameDuraton,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,blueTowerKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,0.987458,0.328461,1.0,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,...,0.296943,0.203283,0.351692,0.369369,0.441379,0.441379,0.282787,0.275862,0.187229,0.306709
1,0.987361,0.326806,0.0,0.0,0.0,1.0,0.0,0.285714,0.00,0.363636,...,0.034934,0.123107,0.262090,0.395703,0.406897,0.406897,0.274590,0.103448,0.120087,0.071550
2,0.984451,0.220629,0.0,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,...,0.087336,0.085742,0.249584,0.277200,0.344828,0.344828,0.182377,0.172414,0.060888,0.229290
3,0.982369,0.542195,0.0,0.0,1.0,1.0,0.0,0.142857,0.25,0.181818,...,0.314410,0.350422,0.497756,0.576577,0.579310,0.579310,0.420082,0.310345,0.315886,0.447419
4,0.982242,0.610039,1.0,1.0,1.0,1.0,1.0,0.285714,0.50,1.000000,...,0.362445,0.366208,0.526466,0.550243,0.586207,0.586207,0.465164,0.241379,0.418030,0.325366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199920,0.959067,0.647270,1.0,0.0,0.0,0.0,0.0,0.428571,0.25,0.636364,...,0.179039,0.417051,0.509323,0.546778,0.593103,0.593103,0.528689,0.206897,0.168748,0.315134
199921,0.790889,0.220629,0.0,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,...,0.113537,0.104498,0.232413,0.252252,0.351724,0.351724,0.225410,0.172414,0.057957,0.159282
199922,0.654722,0.537507,1.0,1.0,0.0,0.0,0.0,0.142857,0.00,0.545455,...,0.296943,0.271084,0.505152,0.552322,0.586207,0.586207,0.454918,0.275862,0.162020,0.403845
199923,0.887400,0.410094,0.0,0.0,0.0,0.0,0.0,0.142857,0.00,0.181818,...,0.296943,0.323684,0.416403,0.363132,0.496552,0.496552,0.331967,0.379310,0.252914,0.308941
199924,0.940434,0.274959,0.0,1.0,0.0,0.0,1.0,0.142857,0.00,0.545455,...,0.017467,0.092607,0.190293,0.293139,0.324138,0.324138,0.145492,0.034483,0.061661,0.040759

In [194]:
X_scaled[:,1:2]

array([[0.32846111],
       [0.3268064 ],
       [0.22062879],
       ...,
       [0.53750689],
       [0.41009377],
       [0.27495863]])

In [236]:
1-Y

array([1, 0, 1, ..., 1, 1, 0])

In [240]:
mergeddataset.columns[2:25]

Index(['blueFirstBlood', 'blueFirstTower', 'blueFirstBaron', 'blueFirstDragon',
       'blueFirstInhibitor', 'blueDragonKills', 'blueBaronKills',
       'blueTowerKills', 'blueInhibitorKills', 'blueWardPlaced',
       'blueWardkills', 'blueKills', 'blueDeath', 'blueAssist',
       'blueChampionDamageDealt', 'blueTotalGold', 'blueTotalMinionKills',
       'blueTotalLevel', 'blueAvgLevel', 'blueJungleMinionKills',
       'blueKillingSpree', 'blueTotalHeal', 'blueObjectDamageDealt'],
      dtype='object')

In [266]:
mergeddataset.columns[]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [262]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, Y, train_size=0.7)

In [263]:
X_test.shape

(59978, 48)

In [264]:
X_train.shape

(139947, 48)

In [265]:
from sklearn.linear_model import Perceptron
clf = Perceptron(tol=1e-3, random_state=0)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9893460935676415

In [92]:
pd.DataFrame(X_scaled, columns=mergeddataset.columns).head()

,gameId,gameDuraton,blueFirstBlood,blueFirstTower,blueFirstBaron,blueFirstDragon,blueFirstInhibitor,blueDragonKills,blueBaronKills,blueTowerKills,...,redAssist,redChampionDamageDealt,redTotalGold,redTotalMinionKills,redTotalLevel,redAvgLevel,redJungleMinionKills,redKillingSpree,redTotalHeal,redObjectDamageDealt
0,0.987458,0.328461,1.0,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,...,0.296943,0.203283,0.351692,0.369369,0.441379,0.441379,0.282787,0.275862,0.187229,0.306709
1,0.987361,0.326806,0.0,0.0,0.0,1.0,0.0,0.285714,0.00,0.363636,...,0.034934,0.123107,0.262090,0.395703,0.406897,0.406897,0.274590,0.103448,0.120087,0.071550
2,0.984451,0.220629,0.0,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,...,0.087336,0.085742,0.249584,0.277200,0.344828,0.344828,0.182377,0.172414,0.060888,0.229290
3,0.982369,0.542195,0.0,0.0,1.0,1.0,0.0,0.142857,0.25,0.181818,...,0.314410,0.350422,0.497756,0.576577,0.579310,0.579310,0.420082,0.310345,0.315886,0.447419
4,0.982242,0.610039,1.0,1.0,1.0,1.0,1.0,0.285714,0.50,1.000000,...,0.362445,0.366208,0.526466,0.550243,0.586207,0.586207,0.465164,0.241379,0.418030,0.325366